html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button {
  background-color: inherit;
  background-image: none;
  border: 1px solid #ddd;
  margin: 0;
  padding: 12px 20px;
  border-radius: 5px;
}

.container {
  max-width: 640px;
  margin: auto;
  padding: 30px;
}